.monaco-editor {
  position: absolute;
}

.monaco-editor .suggest-widget .monaco-list .monaco-list-row * {
  text-decoration: none;
}

.monaco-editor .monaco-hover-content .action-container {
  display: none;
}

.monaco-editor .editorPlaceholder {
  font-style: italic;
  font-size: 14px !important;
}

.legend-square {
  height: 100%;
  margin-right: 25px;
  cursor: 'pointer';
}
